.icon-btn:hover {
  background: rgba(173, 216, 230, 1);
}

.icon-btn {
  display: flex;
  background: transparent;
  border: 0px;
  color: blue;
  opacity: 1;
  transition: background 0.3s;
  border-radius: 50%;
  text-align: center;
  padding: 0;
}
.icon-svg {
  align-text: center;
  padding: 7px;
  margin: 3px;
}

.picker-container {
  position: relative;
  width: 300px;
}

.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
}

.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
}

.work {
  text-align: center
}
